.navigation-bar {
  display: flex;
  justify-content: center;
  background-color: #afcbff;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.nav-link.active,
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
